RASTRO_API_TOKEN=seu_token_aqui
RASTRO_API_BASE_URL=https://batista.rastrosystem.com.br/api_v2
HELENA_API_TOKEN=seu_token_helena_aqui
HELENA_API_BASE_URL=https://api.helena.run/core/v1
HELENA_CHAT_API_BASE_URL=https://api.helena.run/chat/v1
HELENA_MESSAGE_FROM=5583988098480
HELENA_TEMPLATE_ID=9be1f_faturadiadovencimento
FATURAS_WEBHOOK_VENCEM_HOJE_URL=https://seu-webhook-vencem-hoje
FATURAS_WEBHOOK_VENCIDAS_5_DIAS_URL=https://seu-webhook-vencidas-5-dias
FATURAS_WEBHOOK_SEND_EMPTY=false
FATURAS_CRON_TIMEZONE=America/Fortaleza
